{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}

	<body class="dark">
		{% set current_path = app.request.get('_route') %}
		<!-- Sidebar -->
		<div class="sidebar">
			<a href="#" class="logo">
				<i class='bx bx-code-alt'></i>
				<div class="logo-name">
					<span>ERP-MN</div>
				</a>
				<ul class="side-menu">
					<li {{ (current_path == 'app_dashboard') ? 'class="active"' }}>
						<a href="{{ path('app_dashboard') }}">
							<i class='bx bxs-dashboard'></i>Dashboard</a>
					</li>
					<li {{ (current_path == 'app_dashboard_vehicle') ? 'class="active"' }}>
						<a href="{{ path('app_dashboard_vehicle') }}">
							<i class='bx bxs-dashboard'></i>Vehicles</a>
					</li>
					{% if 'ROLE_ADMIN' in app.user.roles %}
						<li {{ (current_path == 'app_users') ? 'class="active"' }}>
							<a href="{{ path('app_users') }}">
								<i class='bx bxs-dashboard'></i>Users</a>
						</li>
					{% endif %}

				</ul>
			</div>
			<!-- End of Sidebar -->

			<!-- Main Content -->
			<div
				class="content">
				<!-- Navbar -->
				<nav>
					<i class='bx bx-menu'></i>
					<form action="#">
						<div class="form-input">
							<input type="search" placeholder="Search...">
							<button class="search-btn" type="submit">
								<i class='bx bx-search'></i>
							</button>
						</div>
					</form>
					{# <input type="checkbox" id="theme-toggle" hidden> #}
					{# <label for="theme-toggle" class="theme-toggle"></label> #}
					<a href="#" class="notif">
						<i class='bx bx-bell'></i>
						<span class="count">12</span>
					</a>
					<div class="dropdown">
						<a class="profile dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
							<img src="images/logo.png">
						</a>

						<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<li><a class="dropdown-item" href="{{ path('app_user_settings') }}">User Settings</a></li>
							<li><a class="dropdown-item" href="{{ path('app_logout') }}">Log Out</a></li>
						</ul>
					</div>
				</nav>

				<!-- End of Navbar -->

				<main>
					{% block d_content %}{% endblock %}
				</main>

			</div>
		</body>
	</body>
{% endblock %}
